{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'gf2m/styles.css' %}">
    <script src="{% static 'gf2m/ajax_script.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" integrity="sha256-UE4m/UdWK06blGurYU6WgxlMlU9GiP47nnszCxaZy7A=" crossorigin="anonymous" />
``` <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-core.min.js" integrity="sha256-3fDEooLvInR6CvlZBO4j/5Uw+Dxg3bZUDGs7HItEsjg=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-64pXzFs4YK1WDzaV2zepxvPmMyntMVcVCaTPZb1FJb8=" crossorigin="anonymous"></script>

    <title>Operation in GF(2m)</title>
</head>
<body>
    {% block body%}
    {% endblock %}
</body>
<footer>
    <p>&copy; {{ year }} Galois Field Operations </p>
</footer>
</html>