{% extends "gf2m/layout.html" %}


{% block body %}

<h2>Multiplication in \(GF(2^m)\)</h2>
<p>The multiplication of two elements \(a(z)\) and \(b(z)\) is done by multiplying the polynomials and reducing the result by dividing the polynomial by \(f(z)\), keeping only the remainder.</p>
<p><b>Example:</b> \(a(z) = z^7 + z^3 + 1\) and \(b(z) = z^{13} + z^4 + z^2\), then
    \(a(z) \cdot b(z) \equiv (z^7 + z^3 + 1) \cdot (z^{13} + z^4 + z^2) \pmod{f(z)}\). Reducing by \(f(z)\), the result is:
    \(a(z) \cdot b(z) \equiv z^{12} + z^9 + z^8 + z^7 + z^6 + z^5 + z^2 + z + 1\)</p>

    <form method="post" action="{% url 'gf2m:multiplication' %}">
        {% csrf_token %}
        <label for="num1"> Binary polynomial in decimal 1 :</label>
        <input type="text" name="num1" required>
        <br>
        <label for="num2"> Binary polynomial in decimal 2 :</label>
        <input type="text" name="num2" required>
        <br>
        <button type="submit">Multiplication</button>
    </form>
    
    <div id="resultado">
        <p>Result: {% if resultado is not None %}{{ resultado }}{% else %}{% endif %}</p>
    </div>

    <ul>
        <a href="{% url 'gf2m:addition' %}">Addition in \(GF(2^m)\)</a><br>
        <a href="{% url 'gf2m:division' %}">Division in \(GF(2^m)\)</a>
    </ul>
    <p>Explore below the C code called from Python, which is used for the operation of multiplication of two elements in \(GF(2^m)\):</p>

    <pre class="language-c">
        <code>
            #include &lt;stdio.h&gt;
            #include &lt;stdint.h&gt;
            
            typedef uint16_t gf;
            #define GFBITS 13

            gf gf_mul(gf in0, gf in1){
	            int i;

	            uint64_t tmp;
	            uint64_t t0;
	            uint64_t t1;
	            uint64_t t;

	            t0 = in0;
	            t1 = in1;

	            tmp = t0 * (t1 & 1);

	            for (i = 1; i < GFBITS; i++)
    		    tmp ^= (t0 * (t1 & (1 << i)));

	            /* module reduction */
	            t = tmp & 0x1FF0000;
	            tmp ^= (t >> 9) ^ (t >> 10) ^ (t >> 12) ^ (t >> 13);

	            t = tmp & 0x000E000;
	            tmp ^= (t >> 9) ^ (t >> 10) ^ (t >> 12) ^ (t >> 13);

	            return tmp & GFMASK;
            }
        </code>
    </pre>

    <a href="{% url 'gf2m:start' %}">Galois Fields</a><br>
    <a href="{% url 'gf2m:index' %}">Operations in \(GF(2)\)</a><br>
    <a href="{% url 'gf2m:add' %}">Operations in \(GF(2^m)\)</a><br>
    <a href="{% url 'gf2m:polyoperations' %}">Operations in \(GF((2^m)^t)\)</a>
{% endblock %}